.audio {
	margin: 0 auto;
	max-width: var(--max-width);
	margin-top: 15rem;
	display: flex;
	gap: 13rem;
}

.audio__container {
	flex-basis: 45%;
	align-self: center;
}

.audio__title {
	font-size: var(--h2-font-size);
	text-transform: uppercase;
	padding-right: 2rem;
	margin-bottom: 3.2rem;
}
.audio__title > span {
	color: var(--color-orange-dark);
}
.audio__text {
	font-size: var(--body-font-size);
	font-weight: 400;
	line-height: 3rem;
}

.audio__img {
	background-image: url('../../../../../assets/shared/desktop/image-best-gear.jpg');
	width: 50rem;
	height: 50rem;
	border-radius: 5px;
}
