.productDetail {
	background-color: var(--color-white);
}

.recommendItems {
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	gap: 4rem;
	margin-top: 7rem;
}
.recommendTitle {
	text-align: center;
	font-size: var(--h3-font-size);
}
