.header {
	background-color: var(--color-black-ligther);
	height: 9.6rem;
	padding: 0 15rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
.header::after {
	content: '';
	background-color: var(--color-white-darker);
	width: var(--max-width);
	height: 0.5px;
	position: absolute;
	top: 9.5rem;
}

.header__logo {
	background-image: url('../../../../../assets/shared/desktop/logo.svg');
	width: 14.3rem;
	height: 2.5rem;
}
