.numbersInput > * {
	background-color: var(--color-white-darker);
	padding: 1.5rem;
	display: inline-block;
}

.input__number {
	border: none;
	padding-left: 3rem;
	color: var(--color-black);
	text-align: center;
	width: 10rem;
	display: inline-block;
}
